/* 导航栏样式 */
#bar {
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 10px 0px rgb(56, 56, 56);
    transition: opacity 0.2s ease-in;
    z-index: 999;
}

#logo {
	cursor: pointer;
	height: 50px;
	width: 300px;
	margin-left: 40px;
	font-size: 30px;
	font-weight: 800;
	line-height: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: blue;
	text-shadow: 0px 0px 4px yellow;
	float: left;
}

#linkBar {
	float: left;
	height: 42px;
	margin-top: 8px;
}

#linkBar ul {
	list-style-type: none;
	font-family: 'Microsoft YaHei', 微软雅黑;
	font-size: 18px;
	font-weight: 600;
	line-height: 42px;
	text-align: center;
	margin-bottom: 0px !important;
}

#linkBar ul li {
	float: left;
	width: 100px;
	margin-left: 15px;
}

#linkBar a {
	color: rgb(181, 176, 185);
}

/* 选中的标签页 */
.linkBarSelected {
	color: blue !important;
	box-shadow: 0px 0px 10px 0px rgb(56, 56, 56);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
    
}

.linkBarSelected a {
	color: blue !important;
}
