<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dajiangsai.mapper.ClassInfoMapper">
  <select id="queryClassInfo" parameterType="Map" resultType="com.dajiangsai.pojo.vo.ClassInfoVO">
    SELECT DISTINCT
      class_id, class_name
    FROM
      student
    ORDER BY
      class_id;
  </select>

  <select id="queryClassSize" resultType="java.lang.Integer">
    -- 查询某班人数
    SELECT
      COUNT(*)
    FROM
      student
    WHERE
      class_id=#{classId};
  </select>


</mapper>