<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dajiangsai.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.dajiangsai.pojo.Student">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="stu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stu_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stu_sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stu_nation" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stu_borndate" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="class_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stu_nativePlace" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stu_residenceType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="stu_policy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="class_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="term" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="zhusu" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="leaveSchool" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sroom" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <select id="queryAllStudentIdAndName" resultType="com.dajiangsai.pojo.vo.StudentIdNameVO">
    SELECT
      student.stu_id as studentId, student.stu_name as studentName
    FROM
      student
    ORDER BY
      student.stu_id;
  </select>
</mapper>